*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background: rgb(255,222,233);
    background: linear-gradient(0deg, rgba(255,222,233,1) 0%, rgba(181,255,252,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin: 0 auto;
    max-width: 340px;
    padding: 140px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* .content{
    text-align: center;
} */

main h1{
    font-family: "Helvetica Neue";
    font-size: 45px;
    color: #1DA1F2;
    padding-bottom: 15px;
    text-align: center;
}

main p{
    padding-bottom: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.644);
    text-align: center;
}

main .counter p, span{
    font-size: 15px;
}

main textarea {
    margin-top: 15px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    box-sizing: content-box;
    width: 300px;
    height: 200px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.521);
    display: inline;
    font-size: 13px;
}

main .counter{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  
}

main .counter .tweetCharacters{
    padding-right: 20px;
    margin: 0;
}

main .counter #tweetLeft{
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.521);;
    height: 8px;

}

@media (max-width: 400){

    main h1{
        font-family: "Helvetica Neue";
        font-size: 45px;
        color: #1DA1F2;
        padding-bottom: 15px;
        text-align: center;
    }
    
    main p{
        padding-bottom: 10px;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.644);
        text-align: center;
    }
    
    main .counter p, span{
        font-size: 13px;
    }


    /* main .counter{
        display: flex;
        justify-content: space-between;
    }  */
    
    main .counter .tweetCharacters{
        padding-right: 2px;
    }
    
    main .counter #tweetLeft{
        padding-left: 2px;
        
    }
}



